#tutorial{
	background:yellow;
	height:100vh;
}

body{
	margin:0;
}

#eraser{
	position:fixed;
	bottom:0;
	left:0;
	border-radius:5px;
}
#chooseColor{
	position:fixed;
	bottom:0;
	left:60px;
}
#red,#green,#blue{
	margin-left:5px;
	height:20px;
	width:20px;
	border-radius:50%;
	outline:none;
}
#red{
	background:red; 
}
#green{
	background:green; 
}
#blue{
	background:blue; 
}
#reset{
	margin-left:10px;
	border-radius:5px;
}